.container{
   
    width:40rem;
   
    
      justify-content: center;
      align-items: center;
      height: 100vh;
    
    border:15px solid rgb(60,63,74);
    padding-left: 20px;
    background-position: center;
    margin:10px;
    background-color: antiquewhite;
    overflow:scroll;
}

 